@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Work+Sans:wght@100;200;300;400;600;800&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css");
* {
  box-sizing: content-box;
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}

html {
  /**Movimiento suave para click en links de menu*/
  scroll-behavior: smooth;
}
/**MENU */
.contenedor-header {
  background: url(imagenes/fondo3.jpg);
  background-size: cover;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.contenedor-header header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.contenedor-header header .logo a {
  font-family: "Pacifico";
  font-size: 34px;
  color: rgb(240, 49, 160);
  text-decoration: none;
}
.contenedor-header header ul {
  display: flex;
  list-style: none;
}
.contenedor-header header nav ul li a {
  text-align: none;
  color: rgb(34, 156, 212);
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
}
.contenedor-header header nav ul li a:hover {
  color: rgb(209, 44, 140);
  border-style: ridge;
  border-color: rgb(133, 188, 202);
}
.nav-responsive {
  background-color: rgb(241, 28, 153);
  color: rgb(10, 72, 100);
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}
/**SECCION INICIO */
.inicio {
  background: url(imagenes/fondo1.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 90px 10px;
}
.inicio .contenido-banner {
  padding: 18px 40px;
  background: transparent;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 80px;
}
.inicio .contenido-banner img {
  margin-top: 20px;
  border: 5px solid rgb(230, 196, 216);
  display: block;
  width: 60%;
  margin: auto;
  border-radius: 100%;
  border-style: double;
}
.inicio .contenido-banner h1 {
  margin-top: 40px;
  font-size: 42px;
  font-family: "Pacifico";
  color: rgb(19, 145, 180);
}
.inicio .contenido-banner h2 {
  padding: 4px 0px;
  font-size: 18px;
  font-weight: solid normal;
  color: rgb(119, 110, 104);
  background-color: rgb(241, 144, 222);
}
.inicio .contenido-banner .redes a {
  color: rgb(240, 226, 39);
  display: inline-block;
  border: 3px solid rgb(11, 130, 241);
  border-style: groove;
  background: url(imagenes/fondo1.jpg);
  border-radius: 20%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 80px 5px;
  font-size: 26px;
  transition: 0.3s;
}
.inicio .contenido-banner .redes a:hover {
  background: rgb(238, 87, 187);
}

/**SECCION SOBRE MI */
.sobremi {
  padding: 55px 20px;
  color: rgb(10, 72, 100);
  background: url(imagenes/fondo.2jpg);
  background-size: cover;
}
.sobremi .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.sobremi h2 {
  font-size: 48px;
  font-family: "Pacifico";
  text-align: center;
  padding: 20px 0;
}
.sobremi .contenido-seccion p {
  font: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}
.sobremi .contenido-seccion p span {
  color: rgb(240, 49, 160);
  font-weight: bold;
}

/**SECCION SOBRE MI-datos personales */
.sobremi .fila {
  display: flex;
}
.sobremi .fila .col {
  width: 50%;
}
.sobremi .fila .col h3 {
  font-size: 28px;
  font-family: "Pacifico";
  margin-bottom: 25px;
}
.sobremi .fila .col ul {
  list-style: none;
}
.sobremi .fila .col ul li {
  margin: 12px 0;
}
.sobremi .fila .col ul li strong {
  display: inline-block;
  color: rgb(240, 49, 160);
  width: 130px;
}
.sobremi .fila .col ul li span {
  background-color: rgb(240, 49, 160);
  padding: 3px;
  font-weight: bold;
  border-radius: 5px;
}

/**SECCION SOBRE MI-hobbies*/
.sobremi .fila .col .contenedor-hobbies {
  display: flex;
  flex-wrap: wrap;
}
.sobremi .contenedor-hobbies .hobby span {
  color: rgb(241, 235, 232);
}
.sobremi .fila .col .contenedor-hobbies .hobby {
  width: 100px;
  height: 100px;
  background: url(imagenes/fondo3.jpg);
  background-size: cover;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.sobremi .fila .col .contenedor-hobbies .hobby:hover {
  background: rgb(216, 132, 181);
  border-style: outset;
  border-color: rgb(240, 49, 160);
}
.sobremi .fila .col .contenedor-hobbies .hobby i {
  font-size: 30px;
  margin-bottom: 10px;
  color: rgb(240, 226, 39);
}

/**SECCION SOBRE-button */
.sobremi button {
  cursor: pointer;
  background: url(imagenes/fondo3.jpg);
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: rgb(241, 235, 232);
  position: relative;
  z-index: 10;
  border-style: outset;
  border-color: rgb(105, 4, 63);
}
.sobremi button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(246, 162, 214);
  z-index: -1;
  transition: 1s;
}
.sobremi button:hover .overlay {
  width: 100%;
}

/**SECCION SKILL */
.skills {
  padding: 50px 20px;
  color: rgb(10, 72, 100);
  background: url(imagenes/fondo.2jpg);
  background-size: cover;
}
.skills .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.skills .skill span {
  color: rgb(121, 48, 6);
  font-size: bold;
  margin-top: 5px;
}
.skills h2 {
  font-size: 48px;
  font-family: "Pacifico";
  text-align: center;
  padding: 30px 0;
}
.skills .fila {
  display: flex;
}
/**progreso**/
.skills .skill .progreso {
  background-color: rgb(64, 187, 214);
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
}
/**circulo progreso**/
.skills .skill .barra-skill {
  height: 8px;
  width: 80%;
  background-color: rgb(240, 49, 160);
  position: relative;
  margin-bottom: 30px;
  border-radius: 30px;
  border-style: outset;
}
.skills .skill .barra-skill span {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: rgb(145, 202, 221);
  border-radius: 50px;
  border-style: inset;
  line-height: 40px;
  text-align: center;
  top: -17px;
  right: -15px;
  font-size: 14px;
  color: rgb(41, 2, 41);
}
/**Tecnical  skill**/
.skills .skill .col-1 img {
  display: block;
  margin-bottom: 1px;
  width: 50px;
  line-height: 1px;
  margin: 1px 2px;
  font-size: 80px;
}
.skills .skill .col-1 span {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.skills .fila .col-1 {
  width: 50%;
  padding: 0 20px;
}
.skills .fila .col-1 h3 {
  font-size: 28px;
  font-family: "Pacifico";
  margin-bottom: 10px;
}

/**Profesinal skill**/
.skills .skill .col-2 img {
  display: block;
  margin-bottom: 1px;
  width: 50px;
  line-height: 1px;
  margin: 1px 2px;
  font-size: 80px;
}
.skills .skill .col-2 span {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.skills .fila .col-2 {
  width: 50%;
  padding: 0 20px;
}
.skills .fila .col-2 h3 {
  font-size: 28px;
  font-family: "Pacifico";
  margin-bottom: 10px;
}

/**SECCION SKILL-technical skill */
/**animation y @keyframe para barra progresos(agregarlas dinamicamente con javascript NO OLVIDAR (saco momentaneamente lo q puse en  html**/
.skills .skill .javascript {
  width: 0%;
  animation: 2s javascript forwards;
}
@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
.skills .skill .html5 {
  width: 0%;
  animation: 2s html5 forwards;
}
@keyframes html5 {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
.skills .skill .css3 {
  width: 0%;
  animation: 2s css3 forwards;
}
@keyframes css3 {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
.skills .skill .wordpress {
  width: 0%;
  animation: 2s wordpress forwards;
}
@keyframes wordpress {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
.skills .skill .python {
  width: 0%;
  animation: 2s python forwards;
}
@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
/**SECCION SKILL-Professional skill */
.skills .skill .creatividad {
  width: 0%;
  animation: 2s creatividad forwards;
}
@keyframes creatividad {
  0% {
    width: 0%;
  }
  100% {
    width: 92%;
  }
}
.skills .skill .trabajo {
  width: 0%;
  animation: 2s trabajo forwards;
}
@keyframes trabajo {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
.skills .skill .comunicacion {
  width: 0%;
  animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
.skills .skill .concentracion {
  width: 0%;
  animation: 2s concentracion forwards;
}
@keyframes concentracion {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}
.skills .skill .proyect {
  width: 0%;
  animation: 2s proyect forwards;
}
@keyframes proyect {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

/**SECCION CURRICULUM **/
.curriculum {
  padding: 50px 20px;
  color: rgb(10, 72, 100);
  background: url(imagenes/fondo.2jpg);
  background-size: cover;
}
.curriculum .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.curriculum h2 {
  font-size: 48px;
  font-family: "Pacifico";
  text-align: center;
  padding: 30px 0;
}
.curriculum .fila {
  display: flex;
  justify-content: space-between;
}
.curriculum .fila .col {
  width: 50%;
  padding: 0px 30px;
}
.curriculum .fila .col h3 {
  font-size: 28px;
  font-family: "Pacifico";
  margin-bottom: 18px;
  text-align: center;
}
.curriculum .fila .item {
  padding: 10px;
  margin-bottom: 30px;
  background: linear-gradient(
    to top,
    rgba(243, 215, 234, 0.8),
    rgb(226, 195, 215)
  );
  position: relative;
}
.curriculum .fila .item h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.curriculum .fila .item .institucion {
  color: rgb(240, 49, 160);
  font-size: 22px;
  font-weight: bold;
  display: block;
}
.curriculum .fila .item .empresa {
  color: rgb(12, 125, 145);
  font-size: 22px;
  font-weight: bold;
  display: block;
}
.curriculum .fila .item .fecha {
  display: block;
  color: rgb(138, 55, 7);
  margin-bottom: 10px;
}
.curriculum .fila .item p {
  line-height: 24px;
}

/**SECCION CURRICULUM-Izquierdo**/
.curriculum .fila .izquierda {
  border-right: 5px;
}
.curriculum .fila .izq {
  border-right: 2px solid rgb(240, 49, 160);
  margin-right: 20px;
}
.curriculum .fila .item .conector-izquierdo {
  height: 2px;
  width: 47px;
  position: absolute;
  top: 50%;
  right: -47px;
  z-index: 5;
  background-color: rgb(240, 49, 160);
}
.curriculum .fila .item .conector-izquierdo .circulo-izquierdo {
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  float: right;
  position: relative;
  bottom: 2px;
  background-color: rgb(240, 49, 160);
}
/**SECCION CURRICULUM-Derecha**/
.curriculum .fila .derecha {
  border-left: 5px;
}
.curriculum .fila .der {
  border-left: 2px solid rgb(240, 49, 160);
  margin-left: 20px;
}
.curriculum .fila .item .conector-derecho {
  height: 2px;
  width: 47px;
  position: absolute;
  top: 50%;
  left: -47px;
  z-index: 5;
  background-color: rgb(240, 49, 160);
}
.curriculum .fila .item .conector-derecho .circulo-derecho {
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  float: left;
  position: relative;
  bottom: 2px;
  background-color: rgb(240, 49, 160);
}

/**SECCION CONTACTO*/
.contacto {
  padding: 50px 0px;
  background: url(imagenes/10135315_18129294.jpg);
  background-size: cover;
  color: rgb(18, 88, 122);
}
.contacto .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.contacto h2 {
  font-size: 48px;
  font-family: "Pacifico";
  text-align: center;
  padding: 75px 0;
}
.contacto .fila {
  display: flex;
}
.contacto .col {
  width: 50%;
  padding: 20px;
  position: relative;
}
.contacto .col input,
.contacto .col textarea {
  display: block;
  width: 100%;
  padding: 18px;
  border: none;
  margin-bottom: 20px;
  background-color: rgb(183, 226, 236);
  color: rgb(5, 47, 66);
  font-size: 18px;
}
.contacto button {
  cursor: pointer;
  background: url(imagenes/fondo3.jpg);
  border: 2px solid rgb(5, 47, 66);
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: rgb(241, 235, 232);
  position: relative;
  z-index: 10;
}
.contacto button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(246, 162, 214);
  z-index: -1;
  transition: 1s;
}
.contacto button:hover .overlay {
  width: 100%;
}
.contacto .col img {
  width: 112%;
}
.contacto .col .info {
  position: absolute;
  top: 25%;
  background-color: transparent;
  padding: 20px;
  max-width: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contacto .col .info ul {
  list-style: none;
  color: rgb(3, 55, 85);
}
.contacto .col .info ul li {
  margin: bottom 10px;
}
.contacto .col .info ul li i {
  color: rgb(240, 49, 160);
  display: inline-block;
  margin-right: 20px;
}

/**SECCION PIE DE PAGINA(FOOTER)*/
footer {
  background: url(imagenes/fondo3.jpg);
  background-size: cover;
  padding: 10px 0 30px 0;
  text-align: center;
  position: relative;
  width: 100%;
}
footer .redes {
  margin-bottom: 20px;
}
footer .redes a {
  color: rgb(236, 240, 23);
  display: inline-block;
  text-decoration: none;
  border: 1px solid rgb(30, 90, 117);
  border-radius: 100%;
  border-style: outset;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: 0.3s;
}
footer .arriba {
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgb(240, 49, 160);
  color: rgb(236, 240, 23);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  border-radius: 50%;
  border-style: groove;
  line-height: 50px;
  font-size: 18px;
}

/**SECCION RESPONSIVE*/
@media screen and (max-width: 992px) {
  nav {
    display: none;
  }
  .nav-responsive {
    display: block;
  }
  nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background: url(imagenes/fondo3.jpg);
    width: 180px;
  }
  nav.responsive ul {
    display: block !important;
  }
  nav.responsive ul li {
    border-bottom: 1px solid rgb(10, 72, 100);
    padding: 10px 0;
  }
}
@media screen and (max-width: 768px) {
  .sobremi .fila {
    display: block;
  }
  .sobremi .fila .col {
    width: fit-content;
  }
  .skills .fila {
    display: block;
  }
  .skills .fila .col-1 {
    width: 90%;
  }
  .skills .fila .col-2 {
    width: 90%;
  }
  .skills .fila .col-1 .barra-skill {
    width: 100%;
  }
  .skills .fila .col-2 .barra-skill {
    width: 100%;
  }
  .curriculum .fila {
    display: block;
  }
  .curriculum .fila .col {
    width: 90%;
  }
  .curriculum .fila .derecha {
    margin-left: 20px;
  }
  .contacto .fila {
    display: block;
  }
  .contacto .fila .col {
    width: 90%;
  }
}
